@charset "utf-8";

@font-face {
    font-family: 'Fredoka One';
    src:url('../fonts/subset-FredokaOne-Regular.woff2') format('woff2'),
        url('../fonts/subset-FredokaOne-Regular.woff') format('woff'),
        url('../fonts/subset-FredokaOne-Regular.ttf') format('truetype'),
        url('../fonts/subset-FredokaOne-Regular.svg#FredokaOne-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html,body {
	position: fixed;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: PingFang SC,RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,STHeiti,华文黑体,Microsoft YaHei,微软雅黑,sans-serif;
	color: #333333;
	background: rgba(249, 249, 249, 0.66);
	overflow-x: hidden; 
	overflow-y: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.personal-info {
    margin: auto;
    text-align: center;
}

.content-container {
	position: relative;
	text-align: center;
}

.avatar {
	border-radius: 50%;
	width: 192px;
	margin: 15px auto;
	-webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.avatar:hover {
	opacity: 0.5;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.bio {
	color: rgba(51,51,51,0.54);
	margin-top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
}

.bio > span {
	font-weight: 300;
	letter-spacing: 1.4px;
	opacity: 0;
	transition: all 1s .5s;
}

.bio.ready > span {
	opacity: 1;
}

.intro .bio span {
	font-family: 'Microsoft YaHei', sans-serif;
	font-weight: bolder;
	font-size: 16px;
}

.social-links {
    text-align: center;
    margin-top: 10px;
}

.social-links ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.social-links ul li {
    display: inline-block; /* 使图标保持水平排列 */
    margin-right: 5px;
    margin-top: 20px;
    padding: 10px;
    list-style-type: none;
}

.social-links ul li a {
    position: relative;
	display: block;
}

.social-links ul li img {
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
    cursor: pointer;
}

.social-links ul li img:hover {
    opacity: 0.3;
}

.social-links ul li a::after {
    content: attr(tip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 0.8em;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
	-webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.social-links ul li a:hover::after {
    opacity: 1; /* 鼠标悬浮时显示提示 */
}

.footer {
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 12px;
	opacity: .4;
	font-weight: 100;
	text-align: center;
}

::selection {
	background: rgba(0,149,255,.1);
	color: #6F8EC5;
}

@media only screen and (max-width: 1024px) and (max-aspect-ratio: 1/1) {
    .avatar {
		width: 256px;
	}
	.bio > span, .intro .bio span {
		font-size: 24px;
	}
	.social-links img {
		width: 56px;
	}
	.social-links ul li {
		padding: 20px;
	}
	.social-links ul li a::after {
		font-size: 16px;
		padding: 8px 12px;
	}
}

@media only screen and (max-width: 767px) {
    .avatar {
		width: 160px;
	}
	.bio > span, .intro .bio span {
		font-size: 14px;
	}
	.social-links img {
		width: 32px;
	}
	.social-links ul li {
		padding: 8px;
	}
	.social-links ul li a::after {
		font-size: 10px;
		padding: 5px 8px;
	}
}

@media only screen and (max-width: 480px) {
	.avatar {
		width: 150px;
	}
	.bio > span, .intro .bio span {
		font-size: 13px;
	}
	.social-links img {
		width: 36px;
	}
	.social-links ul li {
		padding: 7px;
	}
	.social-links ul li a::after {
		font-size: 12px;
		padding: 6px 8px;
	}
	.footer {
		font-size: 8px;
	}
}
